{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": ["transform-runtime"]
    }
  }
}